{% extends 'base.html.twig' %}
{% block title %}Contactos{% endblock %}
{% block body %}
    <h1>Ficha del contacto</h1>
    {% if contactos %}
    <ul>
        {% for contacto in contactos %}
        <li>
            <a href = "{{ path('ficha_contacto', {'id': contacto.id}) }}">{{ contacto.nombre}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Contacto no encontrado</p>
    {% endif %}
{% endblock %}
